<div>ID - {{id}}</div>
<div>Name - {{name}}</div>
<div>Full Name - {{fullName}}</div>
<div> Description - {{description}}</div>
<div> Network Count - {{networkCount}}</div>
<div> Subscriber Count - {{subscribersCount}}</div>