<h4>Details page of commit id - {{model.sha}} </h4>

<div>
  <p>{{format-markdown model.commit.message}}</p>
  <h4>Author details </h4>
  <p>{{model.author.id}}</p>
  <p>{{#link-to 'user' model.author}}{{model.author.login}}{{/link-to}}</p>
  <p>{{model.author.email}}</p>
  <p>{{model.author.avatar_url}}</p>
  {{avatar-img width="150px" height="150px" src=model.author.avatarUrl }}
  <p>{{model.author.name}}</p>
</div>