<div class="jumbotron">
  <div> {{login}} ( {{name}} )</div>
  <div >
    <img width="150px" height="150px" style="border-radius:10px" {{bind-attr src="avatarUrl"}}/>
  </div>
  <div> followers - {{followers}}</div>
  <a {{bind-attr href="htmlUrl" }} >Go to gitHub page </a>

</div>
</div>