<div class="jumbotron">
  <div> {{model.login}} ( {{model.name}} )</div>
  <div>
    {{avatar-img src=avatarUrl width="150px" height="150px"}}

  </div>
  <div> followers - {{model.followers}}</div>
  <a href="{{model.htmlUrl}}" >Go to gitHub page </a>

</div>